// Colors
$theme: #018574;
$text: #e8eef2;
$light-grey: #494f5c;
$dark-grey: #3B3E48;
$highlight-grey: #7d828a;
$midnightblue: #2c3e50;
$typewriter: hsl(172, 100%, 36%);

// Fonts
$fonts: "Trebuchet MS", Verdana, "Verdana Ref", "Segoe UI", Candara, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$code-fonts: Consolas, "Andale Mono WT", "Andale Mono", Menlo, Monaco, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, "YaHei Consolas Hybrid", monospace, "Segoe UI Emoji", "PingFang SC", "Microsoft YaHei";

//Admonition
$admonition-background: (
  'note': rgba(68, 138, 255, 0.1),
  'info': rgba(0, 184, 212, 0.1),
  'tip': rgba(0, 191, 165, 0.1),
  'success': rgba(0, 200, 83, 0.1),
  'warning': rgba(255, 145, 0, 0.1),
  'failure': rgba(255, 82, 82, 0.1),
  'danger': rgba(255, 23, 68, 0.1),
  'bug': rgba(245, 0, 87, 0.1),
  ) !default;

$admonition-color: (
  'note': #448aff,
  'info': #00b8d4,
  'tip': #00bfa5,
  'success': #00c853,
  'warning': #ff9100,
  'failure': #ff5252,
  'danger': #ff1744,
  'bug': #f50057,
  ) !default;

// Font-size changed to 1.1em
  body,
  button,
  input,
  select,
  textarea {
    color: $text;
    font-family: $fonts;
    font-size: 1.1em;
  }

//Front page tittle - custom font
@font-face {
  font-family: 'MrRobot';
  src: local('MrRobot'), local('MrRobot'),
       url('/fonts/MR-ROBOT.woff') format('woff'),
       url('/fonts/MR-ROBOT.woff2') format('woff2');
}
#home-title {
  margin: 0;
  text-align: center;
  font-family: 'MrRobot';
}

// Mixins
@mixin dimmed {
  opacity: .6;
}

@mixin aTag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -4px 0 $theme;
    transition-property: box-shadow;
    transition-duration: .1s;

    &:hover {
      box-shadow: inset 0 -1em 0 $theme;
    }
  }
}